.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  gap: 40px;
  border-radius: 40px;
  padding: 110px 20px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.wrapper h1 {
  position: relative;
  font-size: var(--primary-title);
  font-weight: 500;
  text-align: center;
  color: var(--text-color-white);
}

.wrapper p {
  font-size: calc(var(--primary-text) * 1.1);
  color: var(--text-color-white);
  max-width: 500px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
}
